<div class="container text-center">
  <%= link_to 'https://www.localworkingtimes.com/uk/catalogue/aldi/aldi-offers-07-14-sep-2021/offers' do  %>
    <%= image_tag '/aldi.jpg', class: 'img-responsive'   %>
  <% end %>
  <h1 style="font-size: 40px; font-weight: bolder;">
    <a href="https://www.localworkingtimes.com/uk/catalogue/aldi/aldi-offers-07-14-sep-2021/offers">VIEW LEAFLET</a>
  </h1>
</div>